body {
    padding-top: 60px;
}

.profile-mini-image {
    margin: 0px !important;
    padding: 0px !important;
    width: 25px;
    height: 25px;
}

.post-image {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.panel-body {
    padding: 0px !important;
}

.list-item-enter {
    opacity: 0.01;
    position: relative;
    top: 15px;
}

    .list-item-enter.list-item-enter-active {
        opacity: 1;
        position: relative;
        top: 0px;
        transition: opacity 1000ms, top 300ms ease-in;
    }

.list-item-leave {
    opacity: 1;
}

    .list-item-leave.list-item-leave-active {
        opacity: 0.01;
        transition: opacity 1000ms ease-in;
    }

.post-preview {
    height: 100px;
    overflow: hidden;
    border: 1px solid #0ce3ac;
}

    .post-preview img {
        width: 100%;
    }

.no-border {
    border: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.post-image-container {
    min-height: 100px;
}

#page-progressbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    height: 5px;
}